@font-face {
  font-family: 'cocogoose';
 
  src:url('./font/Cocogoose-Pro-Letterpress-Trial.woff') format("woff") ;
  
  
}

@font-face {
  font-family: 'cocogoose-shadow';
 
  
  src:url('./font/Cocogoose-Pro-Block-Shadow-black-Trial.woff') format("woff") ;
  
}



.App {

  display: flex;
  flex-direction: column;
  justify-content: center;
}
